@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>CQRS Tur Rota Verileri</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Gün Gece</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        
        sayac++;
        <tr>
            <td>@sayac</td>
            <td>@item.city</td>
            <td>@item.daynight</td>
            <td>@item.price</td>
            <td>@item.capacity</td>
            <td><a href="/Admin/DestinationCQRS/DeleteDestination/@item.id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/DestinationCQRS/UpdateDestination/@item.id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/DestinationCQRS/AddDestination" class="btn btn-primary">Yeni Tur Rotası Girişi</a>